<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookLove</title>
    <link rel="icon" href="/images/logo-xs.png" type="image/x-icon">
    <link rel="stylesheet" href="/package/bootstrap-5.2.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/public.css">
    <link rel="stylesheet" href="/stylesheets/media.css">
    <link rel="stylesheet" href="/stylesheets/setting.css">
    <link rel="stylesheet" href="/package/swiper-8.3.2/swiper-bundle.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f8eb6714ee.js" crossorigin="anonymous"></script>
</head>
<body>
    {{!-- HEADER --}}
    {{> header}}

    {{!-- BODY --}}
    {{{body}}}

    {{!-- FOOTER --}}
    {{> footer}}

    <!-- Script -->
    <script src="/package/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/package/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/script.js"></script>
</body>
</html>